/**
 * Checkout payment
 */

.ant-radio-button-wrapper {
  border-left: 1px solid #d9d9d9;
}

.ant-radio-button-wrapper:not(:first-child)::before {
  position: unset;
}

.radio-fake {
  width: 22px;
  height: 22px;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 13px 10px 0px;
  position: relative;
  z-index: 1;
  color: rgb(120, 120, 120);
}

.radio-fake::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: rgb(13, 92, 182);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
}

.radio-fake-checked::before {
  transform: scale(1);
}

.ant-radio-button-wrapper {
  height: auto;
}
/**
 * Checkout cart
 */

.gx-cart-popover {
  position: absolute;
  top: 1.5rem;
}

.gx-card-checkout .gx-card-list-footer .ant-btn {
  display: block;
  margin-right: 0;
  width: 120px;
}

.gx-user-list .gx-checkout-description {
  width: calc(100% ~"-" 235px);
}

.gx-checkout-notes {
  margin: 0;
  padding-left: 15px;
}

.gx-checkout-summary-price-title {
  line-height: 30px;
}

.gx-checkout-summary-price {
  border-top: 1px dashed #00000066;
  border-bottom: 1px dashed #00000066;
  padding: 20px 0;
}

.gx-checkout-price {
  font-size: 20px;
  font-weight: bold;
  //margin-top: 10px;
  //margin-bottom: 15px;
}

/**
 * Global
 */

.gx-header-horizontal-main {
  padding: 20px 0 !important;
}

/**
 * Cart components
 */

.gx-cart-badge {
  margin-bottom: 0;
}

.gx-cart-badge .ant-badge-count {
  top: 3px;
  right: 3px;
}

.gx-cart-views:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #57a7d51f;
}

.gx-cart-views .icon {
  font-size: 38px;
}

.gx-cart-text {
  display: block;
  font-size: 12px;
  position: relative;
  top: 6px;
  left: -10px;
  font-weight: 100;
}

.gx-cart-views {
  position: relative;
  text-align: center;
  color: white;
  border-radius: 16px;
  padding: 15px 5px 6px 14px;
  -moz-border-radius: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 0px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-flex;
  -ms-flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

/**
 * Product Detail page
 */

.gx-product-description-panel {
  padding: 1rem 1.5rem 1rem 1.5rem;
  position: relative;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: solid 1px #e8e8e8;
}

.ant-input-number .ant-input-number-handler-wrap {
  opacity: 1;
}

.align-center {
  text-align: center;
}

.page-benchmark {
  font-style: italic
}

/**
 * Order page
 */

.order-header-item {
  margin-bottom: 15px;
  background: #038fde;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.order-footer-item {
  margin-top: 10px;
  background: #038fde;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.order-footer-discount {
  border: 0 !important;
  background: transparent;
  color: white;
  border-bottom: 1px solid #d6edff5e !important;
  border-radius: unset;
  min-height: auto !important;
  height: auto !important;
}

.order-header-customer {
  margin-bottom: 15px;
  background: #038fde;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.order-footer-discount > div > input:first-child {
  padding: 0;
  height: auto;
}

.order-footer-description {
  border: 0 !important;
  background: transparent;
  color: white;
  border-bottom: 1px solid #d6edff5e !important;
  border-radius: unset;
  min-height: auto !important;
  padding-left: 3px;
}

.order-footer-total {
  font-size: 15px;
}

.order-content-scroll {
  height: calc(100vh ~"-" 480px) !important;

  .framed-layout & {
    height: calc(100vh~"-"480px + 2 * @framed-layout-base) !important;
  }

  @media screen and (max-width: @screen-md-max) {
    height: calc(100vh ~"-" 238px) !important;

    .framed-layout & {
      height: calc(100vh ~"-" 238px) !important;
    }
  }

  @media screen and (max-width: @screen-xs-max) {
    height: calc(100vh ~"-" 216px) !important;
  }

  & > div:first-child {
    overflow-y: scroll !important;
  }
}

//.order-content-scroll {
//  height: calc(100vh ~"-" 480px) !important;
//
//  .framed-layout & {
//    height: calc(100vh~"-"480px + 2 * @framed-layout-base) !important;
//  }
//
//  @media screen and (max-width: @screen-md-max) {
//    height: calc(100vh ~"-" 238px) !important;
//
//    .framed-layout & {
//      height: calc(100vh ~"-" 238px) !important;
//    }
//  }
//
//  @media screen and (max-width: @screen-xs-max) {
//    height: calc(100vh ~"-" 216px) !important;
//  }
//
//  & > div:first-child {
//    overflow-y: scroll !important;
//  }
//}

.order-content-scroll > div:first-child {
  padding-top: 5px;
  overflow-x: visible !important;
}

.order-list-item {
  margin-bottom: 15px;
}

.order-list-item:hover {
  background-color: #ffffff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
}

.order-name-item:hover {
  cursor: pointer;
  background: #7fc9fd24;
}

.order-item-input-number {
  width: 100%;
  border: 0 !important;
  background: transparent;
  //color: white;
  border-bottom: 1px solid #d6edff5e !important;
  border-radius: unset;
  min-height: auto !important;
  height: auto !important;
}